.search-bar {
  position: relative;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #d8d8d8;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.avatar-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
  
.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
  
.info {
  display: flex;
  align-items: center;
}
  
.full-name {
  font-weight: bold;
  margin-right: 15px;
}
  
.input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid #212121;
  border-radius: 5px;
}
.input-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}
  
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(1,1,1);
  max-height: 200px;
  overflow-y: auto;
}
  
.option-item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
}
.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
}
.option-item:hover {
  color: aliceblue;
  background-color: #8b8a8a;
}
.highlight {
  color: rgb(31, 110, 184);
}
.remove-icon {
  cursor: pointer;
  margin-left: 4px;
  color: #000000;
}